:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: .5rem 0;
}

img {
  width: 100%;  /* To don't have the images streched beyond its container - or make it bigger (if the image is smaler than its container) */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

/* Utility */
.container {  
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports { background: var(--sports-color) }
.category-ent { background: var(--ent-color) }
.category-tech { background: var(--tech-color) }

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light { background: var(--light-color) }
.btn-primary { background: var(--primary-color) }
.btn-secondary { background: var(--secondary-color) }

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.card {
  background: #fff;
  padding: 1rem;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

/* Padding classes - for top / bottom (y-axis) */
.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }
/* Padding classes - for all the way around (x- and y-axis) */
.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

.l-heading {
  font-size: 3rem;
}

.list li {
  padding: .5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {  /* To make the logo, the social icons and the links (Home, About) grid items */
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px; /* To make the logo smaller */
}

#main-nav ul {
  justify-self: end;  /* To push the ul (with its links (Home, ABout)) to the right - Aligns the ul element within its space (e.g. 1/3 of its container - in this case 2fr (grid-template-columns: 6fr 3fr 2fr;)) (in this case to the right) - https://developer.mozilla.org/en-US/docs/Web/CSS/justify-self */
  display: flex;  /* To make its childs (li) flex items */
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current { /* To show on which site the visitor is (Home or About) */
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center; /* To center the social icons - Aligns the icons within its space (e.g. 1/3 of its container - in this case 3fr (grid-template-columns: 6fr 3fr 2fr;)) - https://developer.mozilla.org/en-US/docs/Web/CSS/justify-self */
}

#main-nav .social i {
  color: #777;
  margin-right: .5rem;  /* To spread the icons out a little bit */
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative; /* For #showcase:before  */
}

#showcase:before {  /* To have a background image */
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute; /* To be able to lay it on top of #showcase */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4; /* The dark background (#333) makes it look as if the image is overlaid */
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* To divide it in two, with only one half being used */
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content { 
  z-index: 1; /* To have the text content on top of the image */
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {  /* Grid container */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child, /* The * to make it more flexible - Currently it is a <article> but this way it could be changed to a <div> and it would still work */
#home-articles .articles-container > *:last-child { /* To only grab the first and last article (to put these in a grid to align them horizontally) */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;  /* To center the image */
  grid-column: 1 / span 2;  /* one row and two columns - start at 1 */
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;  /* one row and two columns - start at 2 */
}

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {  /* Grid container */
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* To have four columns with the same width */
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child { /* To target the copyright */
  background: #444;
  grid-column: 1 / span 4;  /* To have it across the whole width (4 columns of the 2. row) */
  padding: .5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {  /* To target the email input field */
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] { /* To target the submit button */
  width: 90%;
}